[submodule "CPath"]
	path = CPath
	url = ssh://git@github.com/Protricity/cpath.git
[submodule "Site/PGP/assets/libs/openpgp"]
        path = Site/PGP/assets/libs/openpgp
        url = https://github.com/singpolyma/openpgp-php.git
[submodule "Site/libs/php/wrench"]
	path = Site/libs/php/wrench
	url = https://github.com/varspool/Wrench.git
