[submodule "CPath"]
	path = CPath
	url = https://ari.asulin@code.google.com/p/clevertree-cpath/
[submodule "Site/PGP/assets/libs/openpgp"]
        path = Site/PGP/assets/libs/openpgp
        url = https://github.com/singpolyma/openpgp-php.git
[submodule "Site/libs/php/wrench"]
	path = Site/libs/php/wrench
	url = https://github.com/varspool/Wrench.git
