
form.form-relay-log .log-container {
    height: 160pt;
    /* width: 500pt; */
    overflow: auto;
}

form.form-relay-log input[name=log] {
    /* width: 448pt; */
    margin-top: 5pt;
}

