
fieldset.fieldset-log .log-container {
    height: 20em;
    width: 46em;
    overflow: auto;
    display: inline-block;
}

fieldset.fieldset-log .user-list-container {
    display: inline-block;
    overflow: auto;
    vertical-align: top;
    padding-left: 0.5em;
}

fieldset.fieldset-log.small .log-container {
    height: 14em;
    width: 26em;
}

fieldset.fieldset-log input[name=log] {
    width:40em;
    margin-top: 5pt;
}

fieldset.fieldset-log.small input[name=log] {
    width:20em;
}

fieldset.fieldset-log .relay-account a {
    text-decoration: none;
    
}
