
.popup span{
    text-decoration: underline;
    cursor: pointer;
    padding: 0 20px;
}

.popup.info,
.popup.description,
.popup.important {
    
}

.popup.important {
    background: url("img/popup_info.gif") no-repeat left;
    min-width: 16px;
    min-height: 16px;
}

.popup.info {
    background: url("img/popup_info.gif") no-repeat right;
    min-width: 16px;
    min-height: 16px;
    float:right;
}

.popup .content {
    display:none;

    position:absolute;
    margin-right: 1em;
    /* right: 2em; */

    padding:14px 20px;
    line-height:16px;

    border-radius:8px;
    box-shadow: 5px 5px 8px #777;
    max-width: 25em;
    /* height: 1em; */
    /* height: 5em; */
}

.popup .content:hover,
.popup:hover .content {
    display:inline;
    color:#111;
    border:1px solid #DCA;
    background:#fffAF0;
}